APP_NAME=Backend Datos API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=replace_me
INFLUX_ORG=replace_me
INFLUX_BUCKET=replace_me
INFLUX_TIMEOUT_MS=10000

CORS_ORIGINS=*
ALLOW_RAW_FLUX=false
